nav {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #0456d01f;
    padding: 15px 0 !important;
}


nav a.navbar-brand {
    color: #0457D0 !important;
    font-weight: 700;
    font-size: 26px;
}
nav .nav-item a {
    color: #0457D0 !important;
    font-weight: 500;
    font-size: 16px;
}

nav .nav-item a:hover {
    color: #353535 !important;
    transition: all .3s ease;
}

.loginButton {
    color: white;
    border: 1px solid #0457D0;
    background-color: #0457D0;
    width: 100px;
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 2px;
}

.loginButton:hover {
    border: 1px solid #0457D0;
    transition: all .5s ease-in-out;
    background-color: #054bb4;

}