.menupage{
    /* background-color: #713d61; */
    background-image: url('https://www.bookmyfarm.com/static/assets/images/downloadapp-home.png');
    padding: 2em;
    /* width: 98vw; */
    height: 70vh;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.menuExitPage Link {
    color: #713d61 !important;
}

.menuExitPage {
    /* width: 4em; */
    height: 5em;
    border-radius:  50%;
    color: #ffff;
    border: 3px #713d61 solid;
    font-size: large;
    display: block;
    width: 6%;
    margin-top: 3em;
    
}
.divmenuExitPage{
    width: 90vw;
    display: flex;
    
} 
.freemenu{
    width: 80%;
    
}
/* p:first-of-type::first-letter{
    color:red;
} */
.welcoomemenu{
    display: flex;
    justify-content: center;
    color: #ffff;
    /* font-family: 'Montserrat', sans-serif !important; */
    font-family: 'Montserrat', sans-serif;
}
.listmenu{
    /* display: flex; */
    /* justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 0 15em; */
    /* padding-left: 30%; */
    /* border: 1px solid red; */
}
.listmenu ul {
    display: flex;
    gap: 1em;
    justify-content: space-around !important;
    color: #ffff !important;
    font-size: x-large;
    margin-top: 4em;
    width: 100%;
}
.listmenu ul li{
    list-style: none;
    
}
.socialMenu{
    display: flex;
    justify-content: center;
    /* border: 3px rgb(207, 47, 194) solid; */
    /* padding: 0 2em; */
    margin-top: 10em;
    width: 100%;
    height: auto;
}
.sociallinksmenu{
    display: flex;
justify-content: space-between;
width: 9em;
font-size: x-large;
    /* border: 3px rgb(207, 47, 194) solid; */
    
}

.sociallinksmenu a{
    border: 2px solid #ffff;
    border-radius: 50%;
    /* color:rgb(14, 1, 1); */
    background-color: RGB(113, 61, 97);
    width: 3vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
@media (max-width:1130px){
    .sociallinksmenu a{
    height: 6vh;
    width: 11vw;

    }
}
@media (max-width:700px){
    .sociallinksmenu a{
    height: 6vh;
    width: 11vw;

    }
}
@media  (max-width:430px){
   .listmenu a{
    /* justify-content: spa; */
    font-size: x-small;

   }
}